<div class="container rounded-4 my-3" style="width: 50%; border: solid">
  <div class="text-center p-4">
    <h1>Ajouter une nouvelle todo</h1>
  </div>
  <form #addForm="ngForm" (ngSubmit)="AddTodos(addForm)">
    <input name="content" class="form-control mb-2" type="text" placeholder="Taper votre todo"
      aria-label="default input example" ngModel required #content="ngModel">
    <input name="date" class="form-control" type="date" aria-label="default input example" ngModel required
      #date="ngModel">
    <div class="text-end m-2">
      <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </div>
  </form>
</div>
